/* Root Container */
#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Keyframes for Logo Spin Animation */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Animation for Logo Spin */
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Card Styling */
.card {
  padding: 2em;
}

/* Read the Docs Link Styling */
.read-the-docs {
  color: #888;
}